.link {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 400;
  color: #fff;
}

.link_active {
  text-decoration: underline;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
  color: #dda85a;
}

.link_mobile {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 400;
  color: #fff;
}
